fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
cloudscraper==1.2.71
beautifulsoup4==4.12.3
ddgs
scholarly==1.7.11
PyMuPDF==1.24.1
pandas==2.2.1
requests==2.31.0
openai==1.14.0
openpyxl==3.1.2
